<h2>Passenger details form:</h2>
<form [formGroup]="addPassengersForm">
  <label for="lName">Enter Last Name:   </label>
  <input type="text"  formControlName = "lastName" /><br><br>
  <span style="color:red;" *ngIf="addPassengersForm.get('lastName').touched && addPassengersForm.get('lastName').errors?.required">
  Last name is required.
  </span><br>
  <span style="color:red;" *ngIf="addPassengersForm.get('lastName').dirty && addPassengersForm.get('lastName').errors?.maxlength">
  The first name must be less than 16 characters.
  </span><br>

  <label for="fName">Enter First Name: </label>
  <input type="text" id="fName" name="lname" formControlName = "firstName" /><br><br>
  <span style="color:red" *ngIf="addPassengersForm.get('firstName').hasError('required') && addPassengersForm.get('firstName').touched">
    First name is required</span><br>
  <span style="color:red" *ngIf="addPassengersForm.get('firstName').hasError('maxlength') && addPassengersForm.get('firstName').dirty">
    Last name must be less than 12 characters</span><br>

  <label for="addr">Enter address:</label>
  <textarea type="text" id="addr" formControlName = "address" ></textarea><br><br>
  <span style="color:red" *ngIf="addPassengersForm.get('address').hasError('required') && addPassengersForm.get('address').touched">
    Address is required</span><br>

  <label for="mail">Enter Email:</label>
  <input type="email" id="mail" formControlName = "email" /><br><br>
  <span style="color:red" *ngIf="addPassengersForm.get('email').hasError('required') && addPassengersForm.get('email').touched">
    Email is required</span><br>
  <span style="color:red" *ngIf="addPassengersForm.get('email').hasError('pattern') && addPassengersForm.get('email').dirty">
    Please enter in required format</span><br>

  <label for="pNumber">Enter Phone Number:   </label>
  <input type="text" id="pNumber" formControlName = "phoneNumber" /><br>
  <span style="color:red" *ngIf="addPassengersForm.get('phoneNumber').hasError('required') && addPassengersForm.get('phoneNumber').touched">
    Phone number is required</span><br>
  <span style="color:red" *ngIf="addPassengersForm.get('phoneNumber').dirty && addPassengersForm.get('phoneNumber').errors?.range">
    Length of phone number must be 8 to 12 characters
  </span><br>

  <button (click) = "saveForm()" >Save Form</button>
  <button (click) = "continue()" [disabled] = "!addPassengersForm.valid">Continue</button>
  <button (click) = "reset()">Reset</button>
</form>
<h3>Summary:</h3>
<p>Last Name is <b>{{passengerFormValues?.lastName}}</b></p>
<p>First Name is <b>{{passengerFormValues?.firstName}} </b></p>
<p>Address is <b>{{passengerFormValues?.address}}</b></p>
<p>Email is <b>{{passengerFormValues?.email}}</b></p>
<p>Phone Number is <b>{{passengerFormValues?.phoneNumber}}</b></p>